<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>


 <!--=====================================
  Header Promotion
  ======================================-->
  <!--
  <div class="ps-block--promotion-header bg--cover"  style="background: url(./assets/img/banner/banner.jpg);">
      <div class="container">
          <div class="ps-block__left">
              <h3>20%</h3>
              <figure class='desc_promo'>
                  <p class='text-white'>Descuentos</p>
                  <h4 class='text-white'>Para Hoteles en Vallarta</h4>
              </figure>
          </div>
          <div class="ps-block__center">
              <p class='text-white'>Ingresa la Promocion<span>Sale2019</span></p>
          </div><a class="ps-btn ps-btn--sm" href="#">Cotizar Ahora</a>
      </div>
  </div>-->



  <!-- As a heading -->
   <nav class="navbar navbar-light bg-warning">
     <div class='top-navbar'>
       <a href="#" target="_blank"><i class="fab fa-facebook-f mr-4"></i></a>
       <a href="#" target="_blank"><i class="fab fa-instagram mr-4"></i></a>
       <a href="#" target="_blank"><i class="fab fa-twitter mr-4"></i></a>
       <a href="#" target="_blank"><i class="fab fa-youtube mr-4"></i></a>
       <div class='float-right'>
         <i class="icon-telephone"></i> Tel. Servicio: 33-33-33-633
       </div>
     </div>
     <div class="navbar-brand" >
       <div class='logo'>
        <a href='./Home' ><img src="./assets/img/logo_nav.png" class="img-fluid" alt="Responsive image"></a>
       </div>
       <div class="menu__toggle" >
         &nbsp;
         <a class='btn-transparent'><i class="icon-user tam26 "></i></a>&nbsp;&nbsp;&nbsp;
         <a class='btn-transparent'><i class="icon-register tam26 "></i></a>
         <div class='option_users' >
           <a [href]="['./Login']"  class='actions_users'>Login</a> |
           <a [href]="['./Registro']" class='actions_users' >Registro</a>
         </div>
       </div>
     </div>

     <!--Caja de Busqueda -->
     <div class="box_search">
       <div class="header__content-center">
           <form class="form-inline " >
               <button id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class='btn-transparent btn-menu '><i title='Destinos' class="icon-menu tam28"></i></button>
               <!-- popup menu -->
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <a class="dropdown-item" href="#">Destinos</a>
                 <div class="dropdown-divider"></div>
                 <a class="dropdown-item" href="#">Hoteles</a>
                 <div class="dropdown-divider"></div>
                 <a class="dropdown-item" href="#">Promociones</a>
               </div>
               <input class="form-control caja_busqueda" type="text" placeholder="Que Buscas...">
               <button class='btn btn-black'>Buscar</button>
           </form>
       </div>
     </div>

   </nav>




  <router-outlet></router-outlet>






  <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647;"></a>
