<div class="ps-site-features mt-5 mb-5 bgFondo_catalogo d-flex align-items-center"><!-- alinear al centro verticalmente -->
    <div class="container">
            <div class="row">


              <div class='row' >

                <!-- card -->
                <div class='col-md-4 col-12'>
                  <div class="card">
                    <img src="http://a57.foxnews.com/images.foxnews.com/content/fox-news/travel/2018/07/19/puerto-vallarta-how-this-popular-hollywood-haunt-became-world-class-getaway/_jcr_content/par/featured_image/media-0.img.jpg/931/524/1531942873374.jpg?ve=1&tl=1&text=big-top-image" class="card-img" alt="...">
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <a href='' class="blockquote-footer">Puerto  Vallarta-Quiero saber Mas </a>
                      </blockquote>
                    </div>
                    </div>
                </div>

                <!-- card -->
                <div class='col-md-4 col-12'>
                  <div class="card">
                    <img src="http://a57.foxnews.com/images.foxnews.com/content/fox-news/travel/2018/07/19/puerto-vallarta-how-this-popular-hollywood-haunt-became-world-class-getaway/_jcr_content/par/featured_image/media-0.img.jpg/931/524/1531942873374.jpg?ve=1&tl=1&text=big-top-image" class="card-img" alt="...">
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <a href='' class="blockquote-footer">Puerto  Vallarta-Quiero saber Mas </a>
                      </blockquote>
                    </div>
                    </div>
                </div>


                <!-- card -->
                <div class='col-md-4 col-12'>
                  <div class="card">
                    <img src="http://a57.foxnews.com/images.foxnews.com/content/fox-news/travel/2018/07/19/puerto-vallarta-how-this-popular-hollywood-haunt-became-world-class-getaway/_jcr_content/par/featured_image/media-0.img.jpg/931/524/1531942873374.jpg?ve=1&tl=1&text=big-top-image" class="card-img" alt="...">
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <a href='' class="blockquote-footer">Puerto  Vallarta-Quiero saber Mas </a>
                      </blockquote>
                    </div>
                    </div>
                </div>





              </div>
        </div>
    </div>
</div>
