<div class='container'>


  <div class='row mt-4 mt-5' >
        <div class='col-md-12 text-center mt-5 borde_principal' >
          <h2 class=" titulo_secundario">Tips para viajar</h2>
        </div>




        <div class='col-md-12 mt-5'>
          <div class='col-md-12'>
            <div class="row">
              <div class="col-12 ">
                <div class="row">
                  <div class="col-12" >
                    <span class='negritas fuente_grande'>Conoce las Reglas</span>
                    <p class='fuente_chica' >
                      Asegúratede conocer el reglamento y tenervisa (sies necesario). Comprueba también que tu pasaporte se encuentre vigente en caso de que vayas al extranjero.
                    </p>
                  </div>
                  <div class="col-12" id="v-pills-dos"  >
                    <span class='negritas fuente_grande'>Planeación</span>
                    <p class='fuente_chica' >
                      La planeación es la mejor manera de ahorrar dinero y tiempo en un viaje. Mientras más conozcas tu destino antes pisarlo más disfrutaras de la experiencia. Ten siempre un plan b por si las cosas no suceden como lo planeaste.
                    </p>
                  </div>
                  <div class="col-12" id="v-pills-tres"  >
                    <span class='negritas fuente_grande'>El Hotel a tu medida</span>
                    <p class='fuente_chica' >
                      El hotel es quizás la decisión más importante en un viaje, si visitan una ciudad asegurarse de que tenga una buena ubicación y de preferencia tenga desayunos y wifi incluidos. Si visitan un destino de playa o descanso vale la pena invertir en un hotel que tengas buena calidad de instalaciones, playa y buenos servicios.
                    </p>
                  </div>
                  <div class="col-12" id="v-pills-cuatro"  >
                    <span class='negritas fuente_grande'>Viaja Ligero</span>
                    <p class='fuente_chica' >
                      Carga con una mochila o maleta de gran tamaño no es lo más recomendado siempre. Además de lo pesado que puede resultar desplazarte con ese equipaje. También hay otros factores que debes tomar en cuenta como el peso permitido en equipaje.
                    </p>                  </div>
                  <div class="col-12" id="v-pills-cinco"  >
                    <span class='negritas fuente_grande'>Viaja Seguro</span>
                    <p class='fuente_chica' >
                      Cuando viajamos nos llena de emoción el hecho de cruzar fronteras y conocer nuevos horizontes y no siempre viajamos de manera responsable con un seguro de viajero para estar prevenidos ante cualquier imprevisto que pudiera surgir en nuestra travesía y así viajar preparados.
                    </p>                    </div>
                  <div class="col-12" id="v-pills-seis"  >
                    <span class='negritas fuente_grande'>Guarda tu Documentación</span>
                    <p class='fuente_chica' >
                      Estar en otro país nos obliga a tener nuestra documentación personal con nosotros todo el tiempo, Como el pasaporte, visa, licencia de conducir, identificación entre otros. La buena solución es escanear todo y llevarlo en tu teléfono o Tablet.
                    </p>
                  </div>
                  <div class="col-12" id="v-pills-siete"  >
                    <span class='negritas fuente_grande'>Enrolla la Ropa</span>
                    <p class='fuente_chica' >
                      Si quieres optimizar el espacio en tu maleta la mejor forma de acomodar tu ropa es enrollándola. Al doblar desperdicias espacio y muchas veces la ropa llega arrugada.
                    </p>
                  </div>
                  <div class="col-12" id="v-pills-ocho"  >
                     <span class='negritas fuente_grande'>Gorro de Baño para le Calzado</span>
                     <p class='fuente_chica' >
                       Empacar nuestros zapatos siempre suele ser un problema. Nadie quiere que su ropa se ensucie con todo lo que pisas. Pero no te preocupes puedes guardar tu calzado en gorros de baño y no se saldrá de allí y tendrás protegida tu ropa y tus zapatos.
                     </p>
                  </div>
                  <div class="col-12" id="v-pills-nueve"  >
                    <span class='negritas fuente_grande'>Envaces no muy Grandes</span>
                    <p class='fuente_chica' >
                      Ahorrar espacio es primordial cuanto estas empacando, Muchas veces queremos llevar con nosotros todos nuestros productos de cuidado personal, pero ocupan gran parte de nuestra maleta. Te aconsejamos que no tires a la basura tus envases más pequeños. Cuando vayas a salir de viaje búscalos y rellénalos con una parte de tus productos. Ahorraras espacio llevando contigo solo lo necesario.
                    </p>
                  </div>
                  <div class="col-12" id="v-pills-diez"  >
                    <span class='negritas fuente_grande'>En caso de llevar liquidos</span>
                    <p class='fuente_chica' >
                      Si llevas líquidos en tu maleta y no quieres encontrar tu ropa mojada. Aquí te recomendamos un tip en tus envases ábrelos y coloca un pedazo papel film en la boca del envase y luego ciérralo con su tapa. Si haces esto el papel funcionara como cierre hermético.
                    </p>
                  </div>
                  <div class="col-12" id="v-pills-once"  >
                    <span class='negritas fuente_grande'>Guarda Cables y cargadores</span>
                    <p class='fuente_chica' >
                      Te recomendamos que utilices una caja de lentes o bolsita para que tengas organizado. También es necesario que le pongas un resorte de pluma a tus cables así se protegerá durante el viaje.
                    </p>
                  </div>
                  <div class="col-12" id="v-pills-doce"  >
                    <span class='negritas fuente_grande'>Guarda Sueter ,chamarra o abrigo</span>
                    <p class='fuente_chica' >
                      Es muy recomendable que lleves al abrigador porque no sabemos cuándo nos tocara dormir en el aeropuerto.
                    </p>
                  </div>
                  <div class="col-12" id="v-pills-trece"  >
                    <span class='negritas fuente_grande'>Jabon o Detergente</span>
                    <p class='fuente_chica' >
                      Es recomendable que guarde tu jabón o detergente en una funda o una bolsa así no va estar regado por toda tu maleta.
                    </p>
                  </div>
                  <div class="col-12" id="v-pills-catorce"  >
                    <span class='negritas fuente_grande'>Cinturones</span>
                    <p class='fuente_chica' >
                      Cuando hagas tus maletas y llevas cinturones no sabes en donde guardarlos. Nosotros te recomendamos que los enrolles en los cuellos de camisetas para mantenerlos en una sola ubicación y fácil de encontrarlos.
                    </p>
                  </div>
                  <div class="col-12" id="v-pills-quince"  >
                    <span class='negritas fuente_grande'>Sacos o Trajes</span>
                    <p class='fuente_chica' >
                      Dobla tus sacos o trajes por la parte de adentro para mantenerlas limpias y evitar arrugas.
                    </p>
                  </div>
                  <div class="col-12" id="v-pills-dieciseis"  >
                    <span class='negritas fuente_grande'>No tires la Botella de Agua</span>
                    <p class='fuente_chica' >
                      A todos nos ha pasado antes de pasar por seguridad en un aeropuerto. Pide que tires cualquier líquido que tengamos con nosotros o en nuestro equipaje de mano. Para evitar esto guarda una botella sin agua y una vez dentro puedes rellenarla con agua.
                    </p>
                  </div>
                  <div class="col-12" id="v-pills-diecisiete"  >
                    <span class='negritas fuente_grande'>Protege los frascos de Vidrio</span>
                    <p class='fuente_chica' >
                      Guarda tus perfumes y otros frascos de vidrio dentro de calcetines y estos mételos entre las capas de ropa o dentro de las prendas enrolladas.
                    </p>
                  </div>
                  <div class="col-12" id="v-pills-dieciocho"  >
                    <span class='negritas fuente_grande'>Regresa un día antes</span>
                    <p class='fuente_chica' >
                      Te recomendamos que regreses un día antes	así podrás
                        descansar y regresar a tu vida cotidiana más fresco
                    </p>
                  </div>
                  <div class="col-12" id="v-pills-diecinueve"  >
                     <span class='negritas fuente_grande'>Buen Viaje</span>
                     <p class='fuente_chica' >
                       Estos son nuestros tips espero que les sean de ayuda. Al final viajar es una forma donde puedes optimizar tiempo, dinero, comodidad y sacarle el máximo provecho a nuestra visita.
                       Con ello nos llevamos muchas experiencias y amigos.
                     </p>
                  </div>
                </div>
              </div>
            </div>
          </div>


         </div><!--col-12 -->
        <!--Fin del apartado -->





  </div><!--contenedor de consejos -->


</div>
