<div class='main_contenedor mb-5'>

<div class='container-fluid'>
  <div class='row '>
    <div class='col-md-12'>
      <div id="blogCarousel" class="carousel slide" data-ride="carousel">



          <!-- Carousel items -->
          <div class="carousel-inner">

              <div class="carousel-item active">
                  <div class="row">
                      <div class="col-md-3 col-6">
                            <img src="./assets/logos_hotel/riu.png" alt="Image"   class='img_htl'[ngStyle]="{'width':'100%','height':'200px'}">
                      </div>
                      <div class="col-md-3 col-6">
                          <img src="./assets/logos_hotel/barcelo.png" alt="Image"   class='img_htl'[ngStyle]="{'width':'100%','height':'200px'}">
                      </div>
                      <div class="col-md-3 col-6">
                          <img src="./assets/logos_hotel/crown.png"   class='img_htl'[ngStyle]="{'width':'100%','height':'200px'}">
                      </div>
                      <div class="col-md-3 col-6">
                          <img src="./assets/logos_hotel/fa.png" alt="Image"   class='img_htl'[ngStyle]="{'width':'100%','height':'200px'}">
                      </div>
                  </div>
                  <!--.row-->
              </div>
              <!--.item-->

              <div class="carousel-item">
                  <div class="row">
                      <div class="col-md-3 col-6">
                          <img src="./assets/logos_hotel/cv.png" alt="Image"   class='img_htl'[ngStyle]="{'width':'100%','height':'200px'}">
                      </div>
                      <div class="col-md-3 col-6">
                          <img src="./assets/logos_hotel/buenaventura.png" alt="Image"   class='img_htl'[ngStyle]="{'width':'100%','height':'200px'}">
                        </div>
                      <div class="col-md-3 col-6">
                          <img src="./assets/logos_hotel/canto_del_sol.png" alt="Image"   class='img_htl'[ngStyle]="{'width':'100%','height':'200px'}">
                      </div>
                      <div class="col-md-3 col-6">
                          <img src="./assets/logos_hotel/fv.png" alt="Image"   class='img_htl'[ngStyle]="{'width':'100%','height':'200px'}">
                      </div>
                  </div>
                  <!--.row-->
              </div>
              <!--.item-->


              <div class="carousel-item">
                  <div class="row">
                      <div class="col-md-3 col-6">
                          <img src="./assets/logos_hotel/hi.png" alt="Image"   class='img_htl'[ngStyle]="{'width':'100%','height':'200px'}">
                      </div>
                      <div class="col-md-3 col-6">
                          <img src="./assets/logos_hotel/hz.png" alt="Image"  class='img_htl' [ngStyle]="{'width':'100%','height':'200px'}">
                      </div>
                      <div class="col-md-3 col-6">
                          <img src="./assets/logos_hotel/krystal.png" alt="Image"  class='img_htl' [ngStyle]="{'width':'100%','height':'200px'}">
                      </div>
                      <div class="col-md-3 col-6">
                          <img src="./assets/logos_hotel/las_palmas.png" alt="Image"  class='img_htl' [ngStyle]="{'width':'100%','height':'200px'}">
                      </div>
                  </div>
                  <!--.row-->
              </div>
              <!--.item-->


              <div class="carousel-item">
                  <div class="row">
                      <div class="col-md-3 col-6">
                          <a href="#">
                              <img src="./assets/logos_hotel/decameron.png" alt="Image" class='img_htl' [ngStyle]="{'width':'100%','height':'200px'}">
                          </a>
                      </div>
                      <div class="col-md-3 col-6">
                          <a href="#">
                              <img src="./assets/logos_hotel/nowamber.png" alt="Image" class='img_htl' [ngStyle]="{'width':'100%','height':'200px'}">
                          </a>
                      </div>
                      <div class="col-md-3 col-6">
                          <a href="#">
                              <img src="./assets/logos_hotel/pp.png" alt="Image" class='img_htl' [ngStyle]="{'width':'100%','height':'200px'}">
                          </a>
                      </div>
                      <div class="col-md-3 col-6">
                          <a href="#">
                              <img src="./assets/logos_hotel/sm.png" alt="Image" class='img_htl' [ngStyle]="{'width':'100%','height':'200px'}">
                          </a>
                      </div>
                  </div>
                  <!--.row-->
              </div>
              <!--.item-->

          </div>
          <!--.carousel-inner-->

          <ol class="carousel-indicators">
              <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#blogCarousel" data-slide-to="1"></li>
              <li data-target="#blogCarousel" data-slide-to="2"></li>
              <li data-target="#blogCarousel" data-slide-to="3"></li>
          </ol>


      </div>
      <!--.Carousel-->
    </div>
  </div>
</div>

</div>
