<!-- Publicidad -->
<!--<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/img/slider/1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <span class='price-slider'>$ 1500.48</span><br />
        <p class='descripcion-slider'>Riu Jalisco</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/img/slider/2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <span class='price-slider'>$ 1800.48</span><br />
        <p class='descripcion-slider'>Marival Residences</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/img/slider/3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <span class='price-slider'>$ 2500.48</span><br />
        <p class='descripcion-slider'>Crown Paradise</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true">  </span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true">   </span>
    <span class="sr-only">Next</span>
  </a>
</div>-->
<div class='main_contenedor'>
  <div class='row'>
    <div class='col-md-12 bg_fondo_principal'>
      <!--LOGO -->
      <div class="col-md-12 text-center hmotor">
        <!--<img src="./assets/img/logo.png" class="img-fluid img-logo"  alt="Responsive image">-->
      </div>
    </div>
  </div>

    <!--Redes Sociales -->
  <div class='row rs_seccion '>
      <div class='col-md-12 text-center'>
        <a target='_blank' href='https://www.facebook.com/TookTrips-105183041294175/' class='btn btn-rs '><i class='fab fa-facebook-f fa-3x'></i></a>
        <a target='_blank' href='' class='btn btn-rs '><i class='fab fa-instagram fa-3x'></i></a>
        <a target='_blank' href='https://api.whatsapp.com/send?phone=523321365487' class='btn btn-rs '><i class='fab fa-whatsapp fa-3x'></i></a>
        <a target='_blank' href='mailto:operaciones@tooktrips.com?subject=Cotizaci%C3%B3n&body=Gracias%20por%20comunicarte%20con%20TooksTrips%2C%20En%20que%20podemos%20ayudarte%3F' class='btn btn-rs '><i class='fas fa-envelope fa-3x'></i></a>
      </div>
  </div>
</div>


<div class='container'>
  <div class='row mt-5'>
    <div class='col-md-12 text-center '>
      <h3 class="line-1">
        “Viajar te hace modesto, porque puedes ver que pequeño es el lugar que ocupas en este mundo.”
      </h3>
      <p>
        Viajas porque tienes pasión, expectativas y curiosidad, y también porque hay personas y lugares esperándote para ver el mundo de otra forma. Viajamos para descansar, aprender, trabajar, culturizarnos y relacionarnos con otros. Y viajamos por placer y para tener nuevas experiencias.
      </p>
    </div>
  </div>
</div>




<div class='row mt-10'>
  <app-slider-hotel></app-slider-hotel>
</div>



<div class='row mt-10' >
  <div class='col-md-12'>

      <div class='row '>
        <div class='col-md-6 p-8 text-left'>
          <h3 class="line-1">
            “La aventura vale la pena.”
          </h3>
          <p >
            Conoce los mejores destinos en México para visitar en tus próximas vacaciones.
            Destinos de playa, económicos, familiares, de lujo y mucho más!,
            Encuentra paquetes, hoteles y vuelos baratos y  las mejores promociones a tu alcance, con un servicio personalizado.
          </p>
        </div>
        <div class='col-md-6 p-5 seccion_imagen_hotel'></div>
    </div>
  </div>
  <div class='col-md-12'>
    <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-46.56,63.64 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #08f;"></path></svg></div>
  </div>
</div>





<!-- Pagos seguros -->
<div class='row  d-flex justify-content-center'>

  <div class='col-md-12 text-center mb-10'>
    <span class="line-1">Con</span>&nbsp;<img src="./assets/img/logo_nav.png" class="img-fluid" alt="Responsive image">&nbsp; <span class="line-1">encuentras</span>
  </div>

  <div class="col-md-3  col-sm-6 col-6 text-center borde-derecho">
        <div class="ps-block__left"><i class="icon-map"></i></div>
        <div class="ps-block__right">
            <h4>Mejores Destinos</h4>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-6 text-center borde-derecho">
        <div class="ps-block__left"><i class="fa fa-certificate"></i></div>
        <div class="ps-block__right">
            <h4>Promociones</h4>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-6 text-center borde-derecho">
        <div class="ps-block__left"><i class="icon-credit-card"></i></div>
        <div class="ps-block__right">
            <h4>Pagos Seguros</h4>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-6 text-center">
        <div class="ps-block__left"><i class="icon-bubbles"></i></div>
        <div class="ps-block__right">
            <h4>24/7 Atención</h4>
        </div>
    </div>
</div>
