.main_contenedor
{
  width: 100%;
  overflow-x: hidden;
}

.img-logo:hover{
  animation-name: pulse;
  transform-origin: center;
  animation-duration: 1s;
}


.rs_seccion{
  height: 350px;
  /*border-bottom: 80px solid #1574AB;*/
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  color:#fff;
  background: #FDC830;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E18229, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E18229, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 80px;
}

.btn-rs
{
  width: 80px;
  margin-left: 20px;
  border-top:2px solid #242424;
  border-bottom:2px solid #242424;
  color:#ff;
  transition: box-shadow 0.6s linear;
  border-radius: 0px;
}

.btn-rs:hover
{
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-top:none;
  border-bottom:none;
  color:#fff;
  border-radius: 0px;
  animation-name: rubberBand;
  transform-origin: center;
  animation-duration: 1s;
}

.bg_fondo_principal
{
  min-width: 100%!important;
  max-width: 100%!important;
  width: 100%!important;
  position: relative;
  background: #F7F8F8;
  background: -webkit-linear-gradient(to right, rgba(63,82,81,0.7),rgba(208,192,156,0.5)),url("/assets/fondo/portada.jpeg");
  background: linear-gradient(to right, rgba(63,82,81,0.7),rgba(208,192,156,0.5)),url("/assets/fondo/portada.jpeg") ;
  background-attachment:fixed;
  background-position: center;
  background-size: cover;
  /*clip-path: polygon(50% 0%, 100% 0, 100% 85%, 75% 100%, 25% 100%, 0 86%, 0 0);*/
  /*clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 100%);*/
}


/*Animacion de frase*/
.line-1{
    font-size: 24px;
  }

.seccion_imagen_hotel
{
  height: 350px;
  background-image: url("/assets/fondo/hotel.svg");
  /*background-attachment:fixed;*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.p-8
{
  padding: 55px!important;
}

.mb-10
{
  margin-bottom: 80px;
}

i .fab{
  color:#fff!important;
}

.top-navbar > a > i{
  color:#fff!important;
}

.hmotor{
  min-height: 500px;
}

@media screen and (max-width: 600px) {
  .hmotor{
    min-height: 700px;
  }
}
