<div class='base'>

  <!-- Breadcrumb Begin -->
   <div class="breadcrumb-section">
     <div class="container">
       <div class="row">
         <div class="col-lg-12">
           <div class="breadcrumb__option">
             <a [href]="['./Home']"><i class="fa fa-home"></i> Home</a>&nbsp;
             <span><i class='fa fa-envelope'></i> Registro</span>
           </div>
         </div>
       </div>
     </div>
   </div>
   <!-- Breadcrumb End -->



  <!--=====================================
    Register Content
   ======================================-->
      <div class='col-md-12 text-center mt-5'>
        <h3 >Registrarme</h3>
      </div>

     <div class="container mt-5">
      <div class="card">
        <div class="card-body">

          <div class="row ">
            <div class="col-12 col-md-6 col-xs-6" [ngStyle]="{'background':'#3F3D56'}">
              <div class="formContent">

                  <div class="form-group">
                    <label for="username" class="control-label text-white">Primer Nombre</label>
                    <input type="text" class="form-control"  [(ngModel)]="firstName" value=""  placeholder="">
                    <span class="help-block"></span>
                  </div>

                  <div class="form-group">
                    <label for="username" class="control-label text-white">Segundo Nombre</label>
                    <input type="text" class="form-control"  [(ngModel)]="lastName" value=""  placeholder="">
                    <span class="help-block"></span>
                  </div>

                  <div class="form-group">
                    <label for="username" class="control-label text-white">Genero</label>
                    <select class="form-control"  [(ngModel)]="gender">
                      <option value='1' >Masculino</option>
                      <option value='2' >Femenino</option>
                    </select>
                    <span class="help-block"></span>
                  </div>

                  <div class="form-group">
                    <label for="username" class="control-label text-white">Edad</label>
                    <input type="number" class="form-control" [(ngModel)]="yearOld" value=""  placeholder="">
                    <span class="help-block"></span>
                  </div>


                  <div class="form-group">
                    <label for="username" class="control-label text-white">Pais</label>
                    <input type="text" class="form-control" [(ngModel)]="country" value=""  placeholder="">
                    <span class="help-block"></span>
                  </div>

                  <div class="form-group">
                    <label for="username" class="control-label text-white">Ciudad</label>
                    <input type="text" class="form-control" [(ngModel)]="city" value=""  placeholder="">
                    <span class="help-block"></span>
                  </div>


                  <div class="form-group">
                    <label for="username" class="control-label text-white">Direccion</label>
                    <textarea type="text" class="form-control" [(ngModel)]="address"   placeholder=""></textarea>
                    <span class="help-block"></span>
                  </div>



                  <div class="form-group">
                    <label for="username" class="control-label text-white">Nombre de Usuario</label>
                    <input type="text" class="form-control" [(ngModel)]="nickname" value=""  placeholder="ejemplo@gmail.com">
                    <span class="help-block"></span>
                  </div>

                  <div class="form-group">
                    <label for="password" class="control-label text-white">Contraseña</label>
                    <input type="password" class="form-control" [(ngModel)]="password" value=""  >
                    <span class="help-block"></span>
                  </div>


                  <button type="button" (click)="Registrar()" class="btn btn-login btn-block">Registrarme</button>
                  <br />
                  <div *ngIf="msg_error!=''" class="alert alert-danger" role="alert">
                    <strong>Error!</strong> {{msg_error}}
                  </div>
                  <div *ngIf="msg_success!=''" class="alert alert-success" role="alert">
                    <strong>Correcto!</strong> {{msg_success}}
                  </div>

                  <a [href]="['./Login']" class="btn btn-enlace btn-block blue-text">Inicio de Sesión</a>

              </div>
            </div>
            <div class="col-12 col-md-6 col-xs-6 fondo-ofertas">
              <p class="lead">Registrate ahora <span class="text-success negritas">GRATIS</span></p>
              <ul class="list-unstyled" style="line-height: 2">
                <li><span class="fa fa-check text-success"></span> Reciba las ofertas del Momento</li>
                <li><span class="fa fa-check text-success"></span> Guarda Tus Favoritos</li>
                <li><span class="fa fa-check text-success"></span> Gestina tu Cuenta</li>
                <li><span class="fa fa-check text-success"></span> Pago Rapido</li>
                <li><span class="fa fa-check text-success"></span> Seguimiento personalizado </li>
              </ul>
            </div>
          </div><!--row -->
        </div><!--card body -->
      </div><!-- card -->
     </div><!-- Container -->

</div>
